@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #fbcfe8; /* pink-200 */
    border-radius: 4px;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #f472b6; /* pink-400 */
  }
}
